<ion-content color="medium" class="ion-padding" *ngIf="mensajes">

      <ion-grid fixed *ngFor="let mensaje of mensajes; let i = index">
        
        <ion-row *ngIf="idUsuario != mensaje.usuario">

          <ion-col size="12">

            <ion-chip color="light" mode="ios" outline="true">
              <ion-label class="ion-text-end">{{mensaje.texto}}</ion-label>
            </ion-chip>
            
            <ion-chip color="primary" mode="ios" outline="false">
              <ion-label>{{mensaje.nombreUsuario}}</ion-label>
            </ion-chip>

          </ion-col>

        </ion-row>
        
        <ion-row *ngIf="idUsuario == mensaje.usuario">
         
          <ion-col size="12" >

            <div class="ion-text-end">

              <ion-chip color="tertiary" mode="ios" outline="false" >
                <ion-label color="light">{{mensaje.texto}}</ion-label>
              </ion-chip>

            </div>

          </ion-col>
          
        </ion-row>

      </ion-grid>

</ion-content>