<app-header titulo="Colores"></app-header>

<ion-content>

    <ion-slides pager="true" class="slide-full">

        <ion-slide *ngFor="let color of colores; let i=index " >

            <div class="ion-activatable">
                <ion-card color="warning">

                    <ion-card-content translucent *ngIf="opcion">
                        
                        <img *ngIf="opcion.idioma == 'es'" [src]="color.img" class="slide-image" 
                            (click)="play('es-1')" alt="color.nombre">
                        
                        <img *ngIf="opcion.idioma == 'en'" [src]="color.img" class="slide-image" 
                            (click)="play('es-1')" alt="color.nombre">
                        
                        <img *ngIf="opcion.idioma == 'pt'" [src]="color.img" class="slide-image" 
                            (click)="play('es-1')" alt="color.nombre">
                    
                    </ion-card-content>
                </ion-card>

                <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>

        </ion-slide>

    </ion-slides>

</ion-content>