<app-header titulo="Animales"></app-header>

<ion-content>

  <ion-slides pager="true" class="slide-full">

    <ion-slide *ngFor="let animal of animales; let i=index ">

      <div class="ion-activatable">
        <ion-card color="warning">

          <ion-card-content translucent *ngIf="opcion">

            <img *ngIf="opcion.idioma == 'es'" [src]="animal.img" class="slide-image" 
                (click)="play(animal.nombre + '-es')" alt="animal.nombre">
            
            <img *ngIf="opcion.idioma == 'en'" [src]="animal.img" class="slide-image" 
                (click)="play(animal.nombre + '-en')" alt="animal.nombre">

            <img *ngIf="opcion.idioma == 'pt'" [src]="animal.img" class="slide-image" 
                (click)="play(animal.nombre + '-pt')" alt="animal.nombre">

          </ion-card-content>
        </ion-card>

        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>

    </ion-slide>

  </ion-slides>

</ion-content>