<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      <h2><b>Alarmator</b></h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">

  

  

  <ion-list class="contenido">
  
    <ion-item-divider>
    </ion-item-divider>
  
    <ion-item class="contenido">
      <ion-label><b>Moderna aplicación de alarma antirobo<br> 
                accionada por movimiento del dispositivo<br></b>
                </ion-label>
      
    </ion-item>

    <ion-item>
      <ion-label><b>Si Usted está registrado inicie sesión <br>
        Si Usted es nuevo debe crear <br> un nuevo usuario.</b></ion-label>
    </ion-item>

    <ion-item-divider>
    </ion-item-divider>

    <ion-item class="contenido">
      <ion-button class="center-content" size="large" routerLink="/login" 
                  routerLinkActive="router-link-active" expand="full" fill="clear">
                  Iniciar sesión
      </ion-button>
      
    </ion-item>

    <ion-item-divider>
    </ion-item-divider>

    <ion-item>
      <ion-button size="large" routerLink="/registro" class="center-content"
                  expand="full" fill="clear" routerLinkActive="router-link-active">
                  Nuevo usuario
      </ion-button>
    </ion-item>

  </ion-list>

  

  

</ion-content>
