<app-header titulo="Menú principal"></app-header>

<ion-content>

  <ion-list>
    <ion-list-header>

      <ion-text color="primary">
        <h1>  Billetera electrónica</h1>
      </ion-text>

    </ion-list-header>

    <ion-item>
      <ion-icon slot="end" name="cash-sharp"></ion-icon>
      <ion-label>Cargar con débito</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="card-sharp"></ion-icon>
      <ion-label>Cargar con crédito</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="end" name="qr-code-sharp"></ion-icon>
      <ion-label>Escanear código QR</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
