<app-header titulo="Menu principal"></app-header>


<ion-content>

  <ion-card color="danger">
    <ion-card-content class="ion-activatable">

      <ion-item-divider class="titulos">
        <span><b>Animales</b></span>
      </ion-item-divider>
      <!-- <ion-img [src]="registro" (click)="promptSignUp()"></ion-img> -->

      <ion-ripple-effect type="bounded">
      </ion-ripple-effect>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-content class="ion-activatable">

      <ion-item-divider class="titulos">
        <span><b>Números</b></span>
      </ion-item-divider>
      <!-- <ion-img [src]="registro" ></ion-img> -->

      <ion-ripple-effect type="bounded">
      </ion-ripple-effect>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-content class="ion-activatable">

      <ion-item-divider class="titulos">
        <span><b>Días</b></span>
      </ion-item-divider>
      <!-- <ion-img [src]="registro" ></ion-img> -->

      <ion-ripple-effect type="bounded">
      </ion-ripple-effect>
    </ion-card-content>
  </ion-card>

</ion-content>
