<app-header titulo="Menu principal"></app-header>


<ion-content color="light">


  <ion-slides pager="true" class="slide-full" >
    <ion-slide *ngFor="let slide of slides">

      <div class="ion-activatable">
        <img [src]="slide.img" class="slide-image" [routerLink]="slide.route">

        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </div>

    </ion-slide>

  </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
    <ion-fab-button color="danger">
      <img [src]="idiomaSeleccionado.img" alt="idiomaSeleccionado.idioma">
    </ion-fab-button>
    <ion-fab-list side="top" >
      <ion-fab-button *ngFor="let bandera of banderas" (click)="seleccionar(bandera)">
        <img [src]="bandera.img" alt="bandera.idioma">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>