<app-header titulo="Números"></app-header>

<ion-content>

    <ion-slides pager="true" class="slide-full">

        <ion-slide *ngFor="let numero of numeros; let i=index ">

            <div class="ion-activatable">
                <ion-card color="warning">

                    <ion-card-content translucent>
                        <img [src]="numero.img" class="slide-image" 
                            (click)="play(numero.nombre + '-es')" alt="numero.nombre">
                    </ion-card-content>
                </ion-card>

                <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>

        </ion-slide>

    </ion-slides>

</ion-content>