<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid fixed class="contenido">

    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        
        <ion-card>
          <ion-card-content>
            <ion-img [src]="login" (click)="promptSignIn()"></ion-img>
            Awesome content
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        
        <ion-card>
          <ion-card-content>
            <ion-img [src]="registro" (click)="promptSignUp()"></ion-img>
            Awesome content
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    
  </ion-grid>


  


</ion-content>
