<app-header titulo="Registro"></app-header>


<ion-content  color="dark">

    
      <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()" color="dark">
    
        <ion-list mode="ios" lines="none">
    
            <ion-list-header color="dark">
                <ion-label>Alta de usuario</ion-label>
              </ion-list-header>


          <ion-item color="dark">
            <ion-label position="floating">Label</ion-label>
            <ion-input type="text" placeholder="Awesome Input" name="name" [(ngModel)]="usuario.nombre">
            </ion-input>
          </ion-item>
    
          <ion-item color="dark">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" placeholder="Ingrese email" name="email" [(ngModel)]="usuario.email"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
            </ion-input>
          </ion-item>
    
          <ion-item color="dark">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" placeholder="Ingrese password" name="password" [(ngModel)]="usuario.pass"
              required>
            </ion-input>
          </ion-item>
    
          <ion-item color="dark" class="contenido">
            <ion-label position="floating">Confirme su contraseña</ion-label>
            <ion-input type="password" minlength="6"  name="password" [(ngModel)]="confirmacionPass"
              required>
            </ion-input>
          </ion-item>

    
        </ion-list>
    
        <ion-button color="tertiary" fill="solid" expand="full" type="submit" [disabled]="formulario.invalid">
          Enviar
        </ion-button>
    
      </form>
    

</ion-content>
